<p>
  product-detail works!
</p>

<div class="example-container mat-elevation-z8">
  <!-- <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div> -->
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/products']"><mat-icon>Go back to products list</mat-icon></a>
  </div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title><h2>{{dataSource.Title}}</h2></mat-card-title>
      <mat-card-subtitle>{{dataSource.Description}}</mat-card-subtitle>
    </mat-card-header>
      <mat-card-content>
        <dl>
          <dt>Product Price :</dt>
          <dd>{{dataSource.PageCount}}</dd>
          <dt>Product Price with taxes:</dt>
          <dd>{{dataSource.PageCount }}</dd>
          <dt>Updated At:</dt>
          <dd>{{dataSource.PublishDate | date}}</dd>
        </dl>
      </mat-card-content>

    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/product-edit', product._id]"><mat-icon>Edit the product</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteProduct(product._id)"><mat-icon>Delete the product</mat-icon></a>
    </mat-card-actions>
  </mat-card>
</div>