<p>
  product-detail works!
</p>

<div class="example-container mat-elevation-z8">
  <!-- <div class="example-loading-shade"
       *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div> -->
  <div class="button-row">
    <a mat-flat-button color="primary" [routerLink]="['/products']"><mat-icon>home</mat-icon></a>
  </div>
  <mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title><h2>{{dataSource.label}}</h2></mat-card-title>
      <mat-card-subtitle>{{dataSource.description}}</mat-card-subtitle>
    </mat-card-header>
      <mat-card-content>
        <dl>
          <dt>Product Price :</dt>
          <dd>{{dataSource.priceHT}}</dd>
          <dt>Product Price with taxes:</dt>
          <dd>{{dataSource.priceTTC }}</dd>
          <dt>Delivery time:</dt>
          <dd>{{dataSource.delievryTime | date}}</dd>
        </dl>
      </mat-card-content>

    <mat-card-actions>
      <a mat-flat-button color="primary" [routerLink]="['/product-edit', dataSource.idArticle]"><mat-icon>edit</mat-icon></a>
      <a mat-flat-button color="warn" (click)="deleteProduct(dataSource.idArticle)"><mat-icon>delete</mat-icon></a>
      <a mat-flat-button color="primary" [routerLink]="['/panier', dataSource.idArticle]"><mat-icon>add_shopping_cart</mat-icon></a>

    </mat-card-actions>
  </mat-card>
</div>